html,
body {
    background-color: #f8f9fa;
    height: 100%;
}
.subtext{
    font-size: 15px;
}

.container {
    width: 45%;
    background-color:black;
    color:white;
    padding: 4rem; 
    min-height: 100%;
}
.form-group label {
    font-weight: bold;
    margin-top: 15px;
}
.results {
    margin-top: 50px;
}

.form-text{
    color: white;
    font-size: 11.5px;
}
.card-header{
    color:black;
}

.card-body{
    padding: 1.5rem;
}

.card-text{
    color:black
}
.btn-primary{
    margin-top: 15px;
}